<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aptentity.aptqstools" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".application.QsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Vz0dOiqv45gt3DNlgRcx8HX4" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.ScreenActivity"
            android:label="@string/screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_QS" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DataManagerActivity"
            android:label="@string/data_manager" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_QS" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WeightActivity"
            android:label="@string/weight"
            android:windowSoftInputMode="stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_QS" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HeartRateActivity"
            android:label="@string/title_activity_heart_rate" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_QS" />
            </intent-filter>
        </activity>
        <!-- receiver begin -->
        <receiver android:name=".application.MyReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- receiver end -->

        <service
            android:name=".service.PhoneUseService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.apt.PhoneUseService" />
            </intent-filter>
        </service>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>

        <activity android:name=".view.TaskActivity" >
        </activity>
        <activity android:name=".view.TaskListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".application.NetworkReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".view.ProjectActivity"
            android:label="@string/title_activity_project">
        </activity>
    </application>

</manifest>
